DB_USER=root
DB_PASSWORD=
DB_DATABASE=banco_back_noturno
DB_HOST=localhost
DB_PORT=3306

PORT=3000

# sequelize db:create  

# sequelize model:generate --name users --attributes 
# nome:string,password:string,email:string